@font-face{
    font-family: "movement";
    src: url('assets/fonts/movement.woff2') format('woff2-variations');
    font-weight: 100 900;
}

body{
    margin:2%;
    font-size:200%;
    line-height: 90%;
    background-color:white;
    font-family:"movement";
}

h1{
    color:black;
    text-align:center;
    font-variation-settings:'wght' 100, 'SPAC' 100;
    font-size:250%;
    line-height:90%;
    animation: header-grow 3s infinite;
    padding-left:5%;
    padding-right:5%;
}

h1:hover{
    color:gold;
}

@keyframes header-grow{
    0%{
        font-variation-settings:'wght' 600, 'SPAC' 100;  
    }

    50%{
        font-variation-settings:'wght' 1000, 'SPAC' 120;
    }

    100%{
        font-variation-settings:'wght' 600, 'SPAC' 100;
    }
}

h6{
    font-family:Arial, Helvetica, sans-serif;
    font-size:70%;
    line-height:80%;
}

h3{
    font-size:150%;
    line-height:100%;
    font-variation-settings:'wght' 1000, 'SPAC' 120;
}

h3:hover{
    opacity:100%;
    animation: spin 2s infinite;
}

@keyframes spin{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate:360deg;
    }
}


.container{
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-gap:1em;
    align-content:center;
    justify-content:center;
    padding:1%;
    
}

.item{
    display:flex;
    padding:30px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    justify-content:center;
    align-items:center;
    text-align:center;


    color:gold;
}

.item:nth-child(odd):hover{
    filter: blur(0px)
    contrast(100%)
    sepia(10%)
    hue-rotate(300deg)
    saturate(1000%)
    brightness(110%);
    color:rgba(0,0,0,0);
}

.item:nth-child(even):hover{
    filter: blur(0px)
    contrast(100%)
    sepia(10%)
    hue-rotate(10deg)
    saturate(1000%)
    brightness(110%);
    color:rgba(0,0,0,0);
}


.item:nth-of-type(1){
    background-image:url(assets/images/gonna\ be\ rich\ as\ rockefeller.png);
}

.item:nth-of-type(1):hover{
    background-image:url(assets/gifs/gonna-be-rich-as-rockefeller.gif);
}

.item:nth-of-type(2){
    background-image:url(assets/images/gold\ dust\ at\ my\ feet.png);
}

.item:nth-of-type(2):hover{
    background-image:url(assets/gifs/gold-dust-at-my-feet.gif);
}

.item:nth-of-type(3){
    background-image:url(assets/images/on\ the\ sunny\ side\ of\ the\ street\ \(1\).png)
}

.item:nth-of-type(3):hover{
    background-image:url(assets/gifs/on-the-sunny-side-of-the-street-\(1\).gif)
}

.item:nth-of-type(4){
    background-color:white;
    color:black;
}
.item:nth-of-type(4):hover{
    color: rgba(255, 192, 203,1);
    filter:none;
}

.item:nth-of-type(5){
    background-color:white;
    color:black;
}

.item:nth-of-type(5):hover{
    color: rgba(255, 192, 203,1);
    filter:none;
}

.item:nth-of-type(6){
    background-image:url(assets/images/grab\ your\ coat.png);
}

.item:nth-of-type(6):hover{
    background-image:url(assets/gifs/grab-your-coat.gif);
}

.item:nth-of-type(7){
    background-image:url(assets/images/grab\ your\ hat.png);
}

.item:nth-of-type(7):hover{
    background-image:url(assets/gifs/grab-your-hat.gif);
}

.item:nth-of-type(8){
    background-image:url(assets/images/leave\ your\ worries\ on\ the\ doorstep.png);
}

.item:nth-of-type(8):hover{
    background-image:url(assets/gifs/leave-your-worries-on-the-doorstep.gif);
}

.item:nth-of-type(9){
    background-image:url(assets/images/just\ direct\ your\ feet.png);
}

.item:nth-of-type(9):hover{
    background-image:url(assets/gifs/just-direct-your-feet.gif);
}

.item:nth-of-type(10){
    background-image:url(assets/images/to\ the\ sunnyside\ to\ the\ sunnyside.png);
}

.item:nth-of-type(10):hover{
    background-image:url(assets/gifs/to-the-sunnyside-to-the-sunnyside.gif)
}

.item:nth-of-type(11){
    background-image:url(assets/images/can\'t\ you\ hear.png);
}

.item:nth-of-type(11):hover{
    background-image:url(assets/gifs/can\'t-your-hear.gif);
}

.item:nth-of-type(12){
    background-color:white;
    color: black;
}

.item:nth-of-type(12):hover{
    color: rgba(255, 192, 203,1);
    filter:none;
}

.item:nth-of-type(13){
    background-color:white;
    color:black;
}

.item:nth-of-type(13):hover{
    color: rgba(255, 192, 203,1);
    filter:none;
}

.item:nth-of-type(14){
    background-image:url(assets/images/the\ pitter\ pat.png);
}

.item:nth-of-type(14):hover{
    background-image:url(assets/gifs/the-pitter-pat.gif);
}

.item:nth-of-type(15){
    background-image:url(assets/images/all\ happy\ tune\ is\ your\ step.png);
}

.item:nth-of-type(15):hover{
    background-image:url(assets/gifs/all-happy-tune-is-your-step.gif);
}

.item:nth-of-type(16){
    background-image:url(assets/images/life\ can\ be\ so\ sweet.png);
}

.item:nth-of-type(16):hover{
    background-image:url(assets/gifs/life-can-be-so-sweet.gif);
}

.item:nth-of-type(17){
    background-image:url(assets/images/on\ the\ sunny\ side\ of\ the\ street\ \(2\).png);
}

.item:nth-of-type(17):hover{
    background-image:url(assets/gifs/on-the-sunny-side-of-the-street-\(2\).gif);
}

.item:nth-of-type(18){
    background-image:url(assets/images/i\ used\ to\ walk\ in\ the\ shade.png);
}

.item:nth-of-type(18):hover{
    background-image:url(assets/gifs/i-used-to-walk-in-the-shade.gif);
}

.item:nth-of-type(19){
    background-image:url(assets/images/with\ all\ those\ blues\ on\ parade.png);
}

.item:nth-of-type(19):hover{
    background-image:url(assets/gifs/with-all-those-blues-on-parade.gif);
}

.item:nth-of-type(20){
    background-color:white;
    color:black;
}

.item:nth-of-type(20):hover{
    color: rgba(255, 192, 203,1);
    filter:none;
}

.item:nth-of-type(21){
    background-color:white;
    color:black;
}

.item:nth-of-type(21):hover{
    color: rgba(255, 192, 203,1);
    filter:none;

}

.item:nth-of-type(22){
    background-image:url(assets/images/but\ no\ i\'m\ not\ afraid\ this\ rover.png);
}

.item:nth-of-type(22):hover{
    background-image:url(assets/gifs/but-no-i\'m-not-afraid-this-rover.gif);
}

.item:nth-of-type(23){
    background-image: url(assets/images/well\ she\ done\ cross\ over.png);
}

.item:nth-of-type(23):hover{
    background-image: url(assets/gifs/well-she-done-cross-over\ copy.gif);
}

.item:nth-of-type(24){
    background-image: url(assets/images/if\ i\ never\ if\ i\ never\ have\ a\ cent.png);
}

.item:nth-of-type(24):hover{
    background-image: url(assets/gifs/if-i-never-if-i-never-have-a-cent.gif);
}

.heading{
    background-color: rgba(255, 192, 203,0.5);
    padding:1px;
    border-radius:50px;
}

p{
    padding:30%;
}
