@font-face {
    font-family: 'Aharoni';
    src: url('Aharoni-Bold.woff2') format('woff2'),
        url('Aharoni-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

