@font-face {
    font-family: "repro";
    src: url(../fonts/ABCReproVariable-Trial.woff);
  }
  
body{
      background-color: white;
      display:flex;
}

.backgroundvideo{
    width: 45vw;
    height:auto;
    position:absolute;
    top:33vh;
    left:25vw;
    z-index:-2;
    opacity:0;
  }

.lines{
    font-family: "repro";
    font-size:10px;
    font-variation-settings: "wght" 300;
    color:black;
    text-align:center;
    line-height:3vh;
    max-width: fit-content;
    max-height:fit-content;
}

.lineOne{
    position:absolute;
    top:15%;
    left:20%;
}

.lineTwo{
    position:absolute;
    top:25%;
    right:20%;
}

.lineThree{
    position:absolute;
    top: 35%;
    right:10%;
}

.lineFour{
    position:absolute;
    top: 45%;
    right:50%;
}

.lineFive{
    position:absolute;
    top:55%;
    left:10%;
}

.lineSix{
    position:absolute;
    top:65%;
    left:30%;
}

.lineSeven{
    position:absolute;
    top:75%;
    left:15%;
}

.lineEight{
    position:absolute;
    top:85%;
    right:20%;
}

.lineOne:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineTwo:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineThree:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineFour:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineFive:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineSix:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineSeven:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }
  
  .lineEight:hover{
    font-variation-settings: "wght" 500;
    text-decoration: underline red 3px;
    cursor:url('images/cross.svg'), auto;
    color:red;
  }

  .videoOn{
    opacity:100%;
  }

  .heading{
    display:flex;
    position:fixed;
    top:2%;
    font-family: 'repro';
    gap:0.5%;
    width:100%;
    justify-content:center;
    color:red;
    align-items:center;
  }
  
  .header1{
    font-variation-settings: "wght" 200;
    font-size:35px;
  }
  
  .header2{
    font-size:45px;
    animation: varying 5s infinite;
  }

  @keyframes varying{
    0%{
      font-variation-settings: "wght" 200;
    }

    50%{
      font-variation-settings: "wght" 500;
    }

    100%{
      font-variation-settings: "wght" 200;
    }
  }