@font-face {
    font-family: "repro";
    src: url(fonts/ABCReproVariable-Trial.woff);
  }

body{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;

    background-color:whitesmoke;
}

svg{
    max-height:100%;
    max-width:auto;
    position:absolute;
}


#backgroundvideo{
    object-fit:cover;
    width: 100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

.cls-1 {
    fill: whitesmoke;
    stroke-width: 0px;
}


  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cls-1:hover{
    fill:red;
    cursor: pointer;
}


