@font-face {
  font-family: "repro";
  src: url(../fonts/ABCReproVariable-Trial.woff);
}

body {
    background-color: white;
  }
  
section {
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-items:  center;
    height:  100vh;
}

  .lines{
    font-family: "repro";
    font-size:1vw;
    font-variation-settings: "wght" 300;
    color:black;
    text-align:center;
    line-height:3vh;
    max-width: fit-content;
    max-height:fit-content;
  }

.lineOne:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineTwo:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineThree:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineFour:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineFive:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineSix:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineSeven:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.lineEight:hover{
  font-variation-settings: "wght" 500;
  text-decoration: underline red 3px;
  cursor:url('images/cross.svg'), auto;
  color:white;
}

.backgroundvideo{
  width: 60vw;
  height:auto;
  position:absolute;
  top:23vh;
  left:20vw;
  z-index:-2;
  opacity:0;
}


.videoOn{
  opacity:100%;
}

.videoOff{
  opacity:100%;
}

.textColor{
  color:white;
  font-variation-settings: "wght" 500;
}

.heading{
  display:flex;
  position:fixed;
  top:1%;
  font-family: 'repro';
  gap:1%;
  font-size:2vw;
}

.header1{
  font-variation-settings: "wght" 200;
}

.header2{
  font-variation-settings: "wght" 500;
}






