body{
    height:100%;
}

img{
    width:10vw;
    top:0px;
    left:0px;
    position:fixed;

    animation:slide 10s linear infinite;

}

@keyframes slide {
    100%{
        transform: translateX(100vw) translateY(100vh);
    }
}

