@font-face{
  font-family: "repro";
  src: url('fonts/ABCReproVariable-Trial.woff') format('woff-variations'),
      url('fonts/ABCReproVariable-Trial.woff2') format('woff2-variations');
}

body{
  background-color: rgb(255,245,203);
  color: crimson;
  font-family: "repro";
}


.grid-container{
	display:grid;
	grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
	gap:2%;
}

.grid-item{
  font-size: 1vw;
  line-height:1vh;
  padding: 2%;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  align-items:center;
  
}

pre{
  line-height:60%;
}

.first-eight{
  background-color: crimson;
  color: white;
  
}

.second-eight{
  background-color: mistyrose;
}

.third-eight{
  background-color:crimson;
  color: white;
}

.fourth-eight{
  background-color: mistyrose;
}

.fifth-eight{
  background-color:crimson;
  color: white;
}

.sixth-eight{
  background-color: mistyrose;
}

.seventh-eight{
  background-color:crimson;
  color: white;
}

.eigth-eight{
  background-color: mistyrose;
}

.ninth-eight{
  background-color: crimson;
  color: white;
}

.tenth-eight{
  background-color: mistyrose;
}

.eleventh-eight{
  background-color: crimson;
  color: white;
}

.twelfth-eight{
  background-color: mistyrose;
}

.thirteenth-eight{
  background-color: crimson;
  color: white;
}

.fourteenth-eight{
  background-color: mistyrose;
}

.fifteenth-eight{
  background-color: crimson;
  color: white;
}

.main-header{
  background-color: crimson;
  color: white;
  font-size: 3vw;
  line-height: 3vh;
  padding: 5px;
  border-radius: 25px;
  text-align:center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  
}

.header-text{
  font-variation-settings: "wght" 800, "slnt" 0;
  letter-spacing:0.000001em;
}

h5{
  line-height:2vh;
  margin-top:5%;
  margin-right:20%;
  margin-left:20%;
}

b{
  font-variation-settings: "wght" 300, "slnt" -3;
}

p{
    font-variation-settings: "wght" 400, "slnt" 0;
    line-height:3.5vh;
}

strong{
  font-variation-settings: "wght" 700, "slnt" -3;  
}

.home{
  position:fixed;
  width:7vw;
  height:auto;
  bottom:1vh;
  left:2vw;
  background-color:crimson;
    border-radius: 50%;
    padding:0.5%;
}